In [1]:
with open('./dt.html', 'r') as f:
    data = f.read()
# data

In [2]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(data, 'html.parser')

In [3]:
links = soup.find_all('a', href=True)

link_dict = {}
results = []
for link in links:
    link_text = link.get_text()
    link_href = link['href'].split('/')[3:]
    # print(f"Link Text: {link_text}, Href: {link_href}")
    link_dict[link_href[-1]] = link_text
    results.append([link_dict.get(j, j) for j in link_href])
# [[link_dict.get(j, j) for j in i] for i in results]

In [4]:
import pandas as pd

In [5]:
series_list = [pd.Series(row) for row in results]

# 将 Series 列表转换为 DataFrame
df = pd.DataFrame(series_list)
df

,0,1,2,3,4,5,6
0,What's new,NaN,NaN,NaN,NaN,NaN,NaN
1,Upgrade to SaaS,NaN,NaN,NaN,NaN,NaN,NaN
2,Get started,NaN,NaN,NaN,NaN,NaN,NaN
3,Get started,What is Dynatrace,NaN,NaN,NaN,NaN,NaN
4,Get started,Monitoring environment,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
2353,API,Account management API,Dynatrace Platform Subscription,Cost monitors,GET events,NaN,NaN
2354,API,Account management API,Reference data,NaN,NaN,NaN,NaN
2355,API,Account management API,Reference data,GET time zones,NaN,NaN,NaN
2356,API,Account management API,Reference data,GET geographical regions,NaN,NaN,NaN
2357,API,Account management API,Reference data,GET user permissions,NaN,NaN,NaN

In [10]:
df.to_excel('./dt.xlsx', index = False)